.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active
> a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

// the nav background image
.navbar {
  background-image: url(http://us.123rf.com/450wm/afhunta/afhunta1009/afhunta100900069/7740515-shelves-with-goods-inside-a-large-supermarket.jpg);

  background-position: top center;
  background-size: 100%;

  // put a transparent "shade" over the background image
  &>div {
    background-color: $navbar-default-bg;
  }
}

// when coloring the iside of the nav we should make it this color
.nav-colors {
  color: $navbar-default-link-color;
}

// Small navbar
.navbar-brand img {
  width: 24px;
}

// Big navbar
// this is the hero nav that is shown on index.html, and has the cool image
// behind it. It's really tall!
$nav-hero-height: 512px;
.navbar-hero {
  min-height: $nav-hero-height;
  height: $nav-hero-height;

  // put a transparent "shade" over the background image
  &>div {
    height: $nav-hero-height;
  }

  .container-hero {
    @extend .container;
    @extend .nav-colors;
    margin-top: 50px;

    @for $i from 1 through 6 {
      h#{6-$i} {
        text-align: center;
        @media (max-width: $screen-sm) {
          font-size: $font-size-base * $i/2.5;
        }

        margin-top: 42px;
      }
    }

  }
}
