// Import Bootstrap
@import "bootstrap";

$bag-blue: #5090F1;

body {
  @extend .container;
}

// screenshots
.screens {
  @extend .pull-left;
  margin-bottom: 50px;

  .wrapper {
    @include make-sm-column(2);

    img {
      width: 100%;
      border: 3px solid #DDD;
    }
  }

  .offset {
    @include make-sm-column(1);
  }
}

.center {
  margin: 20px auto;
  display: block;
  width: 64px;
}
