// Import Bootstrap
@import "bootstrap";

$bag-blue: #5090F1;
$bag-yellow: #FFC000;


@import "_nav";
@import "_price";
@import "_home_threes";
@import "_get_app_btns";

// padding on bottom of body
body {
  padding-bottom: 50px;
}


// make tooltips be full width on mobile
@media (max-width: $screen-sm) {
  .tooltip {
    width: 100%;
    margin: 20px 0px;
  }
  .tooltip-inner {
    max-width: 100%
  }
}

// screenshots
.screens {
  @extend .pull-left;
  margin: 50px 0px;

  .wrapper {
    @include make-sm-column(1);
    @include make-xs-column(2);

    img {
      width: 100%;
      border: 3px solid #DDD;
    }
  }

  .offset {
    @include make-sm-column(3);
    @include make-xs-column(1);
  }
}

.center {
  margin: 20px auto;
  display: block;
  width: 64px;
}

.image-seperator {
  @extend .center;
  width: 16px;
  margin-top: 50px;
  margin-bottom: 50px;

  &:first-child {
    margin-top: 0px;
  }
}
