// Import Bootstrap
@import "bootstrap";

$bag-blue: #5090F1;
$bag-yellow: #FFC000;


@import "_nav";
@import "_price";
@import "_home_threes";

// screenshots
.screens {
  @extend .pull-left;
  margin: 50px 0px;

  .wrapper {
    @include make-sm-column(1);

    img {
      width: 100%;
      border: 3px solid #DDD;
    }
  }

  .offset {
    @include make-sm-column(3);
  }
}

.center {
  margin: 20px auto;
  display: block;
  width: 64px;
}

.image-seperator {
  @extend .center;
  width: 16px;
  margin-top: 50px;
  margin-bottom: 50px;

  &:first-child {
    margin-top: 0px;
  }
}
