<!-- all items within this recipe -->
<div class="card" ng-class="{strike: item.checked, unverified: item.verified ===
  false && item.private === false, private: item.private}">

  <div class="item-header">
    {{item.name}}

    <span class="price-line">
      <span style="font-size: 12px; color: {{stores[item.store].color || '#fff'}}">
        {{stores[item.store].name || 'Custom'}}
      </span>

      <span class="quantity-and-price" ng-show="(item.price || item.stores[item.store].price) && item.quantity">
        <span ng-hide="sortOpts.hide_quantity">{{item.quantity}}</span>
        <span ng-hide="sortOpts.hide_quantity">@</span>
        <span>{{ (item.price && item.price || item.stores[item.store].price) | currency}}</span>
      </span>
    </span>
  </div>

  <div class="item-content">
    <div ng-class="{'item-checkbox': sortOpts.checks, 'item-avatar': !sortOpts.checks}">
      <img
        src="{{ item.image || host+'/icon/'+encodeURI(item.name)}}"
        class="pull-left"
        style="width: 120px;"
        ng-show="!sortOpts.checks"
      />

      <!-- Check off the item -->
      <label class="checkbox" style="right: 64px;" ng-if="sortOpts.checks">
        <input type="checkbox" ng-model="item.checked" ng-change="change(item)">
      </label>


      <div class="pull-left" style="margin-left: 10px;">
        <p>{{item.desc}}</p>

        <!-- delete button -->
        <br/>
        <button class="btn btn-danger" ng-click="deleteItem(item)" ng-if="!sortOpts.no_delete">
          Delete
        </button>

      </div>

    </div>
  </ion-item>
</div>
