<ion-view view-title="Item Details">

  <!-- nav bar -->
  <ion-nav-buttons side="right">

    <!-- add to favorites -->
    <button class="button button-icon icon ion-happy-outline"
      ng-click="fav_item(item)"
      ng-if="!is_fav()">
    </button>
    <button class="button button-icon icon ion-happy"
      ng-click="un_fav_item(item)"
      ng-if="is_fav()">
    </button>

  </ion-nav-buttons>

  <ion-content class="item-bag">
    <div class="root">

      <div class="img-wrapper">
        <img
          src="{{ item.image || host+'/icon/'+encodeURI(item.name)}}"
          class="item-img"
        />
      </div>

      <div class="list item-overlap">
 



        <div class="item">
          <!-- item name and price -->
          <span>
            <h1>
              {{item.name | titlecase}}

              <!-- add item to bag -->
              <i
                class="icon ion-bag pull-right"
                ng-click="item_to_bag(item)"
                ng-hide="get_item_or_recipe() !== 'recipeinfo'"
              ></i>
            </h1>
            <span class="pull-right">
              {{calculate_total([item]) | currency}}
            </span>
          </span>

          <!-- item description -->
          <p class="no-elipsis">{{item.desc}}</p>

        </div>




        <!-- the store the item has been bought from -->
        <ion-item class="item-avatar" ng-if="store.name && !item.contents">
          <img ng-src="{{store.image}}" ng-show="store.image" />
          <span
            class="pull-right icon ion-more icon-accessory"
            style="font-size: 32px; margin: 10px;"
            ng-click="open_store_chooser()"
          ></span>
          <h2 class="title">{{store.name}}</h2>
          <p>{{store.desc}}</p>
        </ion-item>

        <!-- quantity -->
        <ion-item class="row" ng-if="item.quantity !== undefined">
          <button
            class="button button-positive col-25"
            ng-click="set_item_quantity(item, item.quantity-1)"
            ng-disabled="item.quantity <= 1"
          >-</button>

          <div class="col-50 quantity-count">
            <span class="desc">Quantity</span>
            <span class="num">{{item.quantity}}</span>
          </div>

          <button
            class="button button-positive col-25"
            ng-click="set_item_quantity(item, item.quantity+1)"
          >+</button>
        </ion-item>



        <div class="item item-divider" ng-show="item.contents.length">Foodstuffs</div>
        <a
        class="item item-icon-right"
        href="#/tab/{{get_item_or_recipe()}}/{{i._id}}"
        ng-repeat="i in item.contents">
          {{i.name}}
          <i class="icon ion-ios-arrow-right" ng-show="i._id"></i>
        </a>


        <div class="item item-divider" ng-show="item.contentsLists.length">Recipes</div>
        <a
        class="item item-icon-right"
        href="#/tab/{{get_item_or_recipe()}}/{{i._id}}"
        ng-repeat="i in item.contentsLists">
          {{i.name}}
          <i class="icon ion-ios-arrow-right" ng-show="i._id"></i>
        </a>




          <!-- manual database stuff -->
        <div class="item">
          <p ng-repeat="(k, v) in item" ng-show="k.indexOf('contents') === -1">
            <strong>{{k}}:</strong>
            <span ng-if="!v.push">{{v}}</span>
            <span ng-if="v.push">{{v.join(', ')}}</span>
          </p>
        </div>


      </div>
    </div>
  </ion-content>
</ion-view>
