<div class="card recipe-card" ng-class="{private: item.private}" ng-controller="RecipeCtrl">

  <div class="item-header">
    {{recipe.name}}


        <!-- price for the entire recipe -->
        <span class="pull-right" ng-show="recipe.quantity && calculate_total(recipe) !== null">

          <!-- quantity box -->
          <span ng-hide="sortOpts.no_quantity">
            <span>{{recipe.quantity}}</span>
            @&nbsp;
          </span>
          <span>{{calculate_total(recipe) | currency}}</span>
        </span>

  </div>
  
  <div class="item-content">
    {{recipe.desc}}

    <!-- delete button -->
    <button class="btn btn-danger pull-right" ng-click="deleteItem(recipe)" ng-if="!sortOpts.no_delete">
      Delete
    </button>

  </div>


    <!-- a recipe card -->
    <ul class="list-group">

      <!-- all items within this recipe -->
      <li href="#" class="list-group-item" ng-class="{'item-checkbox':
        sortOpts.checks, 'strike-item': item.checked}" ng-repeat="item in get_all_content(recipe)">

        <!-- Check off the item -->
        <label class="checkbox" ng-if="sortOpts.checks && change">
          <input type="checkbox" ng-model="item.checked"
          ng-change="change(recipe, item)">
        </label>

        <!-- the title -->
        <span class="title">
          {{item.name}}

          <!-- rightmost icons -->
          <span class="pull-right" style="margin-right: -16px;">
          {{ (item.store && item.stores[item.store].price || item.price) ||
          calculate_total(item) | currency}}
          </span>
        </span>
      </li>
    </ul>

</div>
