
<!-- add item to bag -->
<input
  type="text"
  placeholder="Search for a new item"
  ng-model="add_search"
  ng-change="on_search_change(add_search)"
  class="form-control"
/>

<!-- new items to be added to the bag -->
<div class="autocomplete-menu" ng-if="add_search.length">

  <!-- show the matches -->
  <li
    class="list-group-item"
    ng-repeat="item in add_items"
    ng-click="add_item_to_bag(item)"
  >
    <img src="{{item.image || host+'/icon/'+item.name}}" style="width:
    50px; max-height: 50px;" class="pull-left" />

    <h3>{{item.name}}</h3>
  </a>

</div>


<br/>

  <!-- content -->
  <div class="container">


        <!-- wait for the stuff to come in -->
        <loading-spinner complete="bag"></loading-spinner>

        <!-- Nothing in bag? -->
        <div class="grayed item arrow-container" ng-if="bag && get_all_content(bag).length === 0">
          <span class="arrow arrow-desc">
            <h2>Your bag is empty</h2>
            <h4>And Lonely. You should add something.</h4>
          </span>
        </div>


      <!-- show a combined list of recipes and foodstuffs -->
        <div ng-if="get_all_content(bag).length !== 0">

          <li class="list-group" ng-repeat="(section, items) in (
            filter_open ? 
            {'Matching Results': filtered_items} :
            sorted_bag
          )">
            <div class="item item-divider">
              {{section || 'Default'}}
              <span class="section-total pull-right">
                {{calculate_total_section(items) | currency}}
              </span>
            </div>
            <div ng-repeat="item in items">

              <!-- if a recipe -->
              <recipe-card
                recipe="item"
                ng-if="item.contents"
                change="update_bag"
                delete-item="delete_item(item)"
                more-info="more_info(item)"
                sort-opts="sort_opts"
              ></recipe-card>

              <!-- if a foodstuff -->
              <checkable-item
                item="item" 
                change="update_bag"
                ng-if="!(item.contents || item.contentsLists)"
                delete-item="delete_item(item)"
                more-info="more_info(item)"
                sort-opts="sort_opts"
              ></checkable-item>
            </div>
          </div>
        </div>


  </ion-content>
</ion-view>
