<div class="list-group-item" ng-hide="picks.length">
  <h2>Feature Coming Soon!</h2>
  <p class="no-elipsis">
    This screen will provide suggestions on what to eat for your next
    meal.
  </p>
</div>

<div class="panel">
  <div class="panel-body">
    <h3>We think you'd like...</h3>
  </div>
</div>

<div
  ng-repeat="item in picks"
  type="item-text-wrap"
  href="#/tab/recipeinfo/{{pick._id}}"
>
  <!-- if a recipe -->
  <recipe-card
    recipe="item"
    ng-if="item.contents"
    change="update_bag"
    delete-item="delete_item(item)"
    more-info="more_info(item)"
    sort-opts="sort_opts"
  ></recipe-card>

  <!-- if a foodstuff -->
  <checkable-item
    item="item" 
    change="update_bag"
    ng-if="!(item.contents || item.contentsLists)"
    delete-item="delete_item(item)"
    more-info="more_info(item)"
    sort-opts="sort_opts"
  ></checkable-item>
</div>
