// all of the arrows in the "empty shell" of the bag
.arrow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 10px solid transparent;

  .arrow {
    position: absolute;
  }

  .arrow-filter {
    top: 0px;
    left: 10px;
    width: 90%;
  }

  .arrow-add {
    top: 0px;
    right: 10px;
    width: 70%;
  }

  .arrow-desc {
    display: none;
    top: 52%;
    left: 75px;
    h2, h4 {
      // font-size: 150%;
    }
  }
}
