.item-bag .root {
  position: relative;

  .img-wrapper {
    height: 260px; // also, update image height here
    overflow: hidden;
    .item-img {
      width: 100%;
    }
  }

  .item-overlap {
    position: absolute;
    top: 256px; // visible image height
    left: 0px;
    right: 0px;

    margin-bottom: 64px;

    min-height: 200px;
    background: #fff;
  }

  .quantity-count {
    text-align: center;

    span.num {
      position: relative;
      font-size: 32px;
      top: 18px;
    }

    span.desc {
      position: absolute;
      top: 0px;
      margin-left: -15px;
      font-size: 12px;
    }
  }
}

