.item-bag .root {
  position: relative;

  .item-img {
    width: 100%;
  }

  .item-overlap {
    position: absolute;
    top: 256px; // visible image height
    left: 0px;
    right: 0px;

    margin-bottom: 32px;

    min-height: 200px;
    background: #fff;
  }
}

