.bar.bar-bag {
  border-color: #b2b2b2;
  background-color: $calm;
  height: 48px;
  
  &, & button {
    color: #fff;
  }

  .title {
    margin-top: 2px;
  }
}

.bar.bar-new-item {
  background-color: $energized;

  &, & button {
    color: #fff;
  }
}

.tabs.tab-nav {
  background-color: #222;
  height: 75px;

  .tab-item {
    margin-top: 11px;
    color: #fff;

    .icon {
      font-size: 36px;
      margin-bottom: 4px;

      &.icon-plate {
        background: url(/img/recipe_line.svg);
        height: 32px;
        background-position: center;
        background-size: 32px;
        background-repeat: no-repeat;
      }

      &.icon-plate-selected {
        background: url(/img/recipe_line_selected.svg);
        height: 32px;
        background-position: center;
        background-size: 32px;
        background-repeat: no-repeat;
      }
    }
  }
}
