
.pull-left { float: left; }
.pull-right { float: right; }

.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}

.no-padding { padding: 0px; }

.no-resize { resize: none;  }


.centered-image {
  margin: 0px auto;
  display: block;
}

// no arrows on numberboxs
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.font-size-bigger { font-size: 120%; }
