
.pull-left { float: left; }
.pull-right { float: right; }

.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}

.no-padding { padding: 0px; }

.no-resize { resize: none;  }


.centered-image {
  margin: 0px auto;
  display: block;
}

.font-size-bigger { font-size: 120%; }
