<!-- all items within this recipe -->
<div class="card" ng-class="{strike: item.checked, private: item.private,
  unverified: !item.verified}">
  <ion-item class="item-icon-right">
    <i 
      class="pull-right icon ion-chevron-right icon-accessory"
      ng-click="moreInfo(item)"
      style="padding-left: 16px;"
    ></i>
    <div ng-class="{'item-checkbox': sortOpts.checks}">

      <!-- Check off the item -->
      <label class="checkbox" style="right: 64px;" ng-if="sortOpts.checks">
        <input type="checkbox" ng-model="item.checked" ng-change="change(item)">
      </label>


      <!-- the title -->
      <span class="title">
        <div class="line"></div>

        <span class="item-name">{{item.name}}</span>

        <!-- rightmost icons -->
        <span class="price-line">
          <span style="font-size: 12px; color: {{stores[item.store].color || '#444'}}">
            {{stores[item.store].name || 'Custom'}}
          </span>

          <span class="quantity-and-price"
            ng-show="item.stores[item.store].price && item.quantity">
            <span ng-hide="sortOpts.hide_quantity">{{item.quantity}}</span>
            <span ng-hide="sortOpts.hide_quantity">@</span>
            <span>{{ (item.store && item.stores[item.store].price || item.price) | currency}}</span>
          </span>
        </span>
      </span>


      <!-- delete button -->
      <ion-option-button class="button-assertive" ng-click="deleteItem(item)" ng-if="!sortOpts.no_delete">

        Delete
      </ion-option-button>

    </div>
  </ion-item>
</div>
