<!-- all items within this recipe -->
<div class="card">
  <ion-item class="item-icon-right" ng-click="sortOpts.checks || moreInfo(item)">
    <i 
      class="pull-right icon ion-chevron-right icon-accessory"
      ng-click="moreInfo(item)"
      style="padding-left: 16px;"
    ></i>
    <div ng-class="{'item-checkbox': sortOpts.checks}">

      <!-- Check off the item -->
      <label class="checkbox" style="right: 64px;" ng-show="sortOpts.checks">
        <input type="checkbox" ng-model="item.checked" ng-change="change(item)">
      </label>


      <!-- the title -->
      <span class="title" ng-class="{strike: item.checked}">
        <div class="line"></div>

        {{item.name}}

        <!-- rightmost icons -->
        <span class="pull-right">
          <input
            type="number"
            placeholder="Qty"
            style="width: 2em; display: inline; margin-top: -4px; direction: rtl;"

            min="1"
            max="99"
            oninput="this.value=this.value.slice(0, 2)"

            ng-model="item.quantity"
            ng-change="change(item)"
          />
          <span>@</span>
          <span ng-show="item.price">{{item.price | currency}}</span>
        </span>
      </span>


      <!-- delete button -->
      <ion-option-button class="button-assertive" ng-click="deleteItem(item)">
        Delete
      </ion-option-button>

    </div>
  </ion-item>
</div>
