<ion-view view-title="{{item.name || 'Item Details'}}">

  <!-- nav bar -->
  <ion-nav-buttons side="right">

    <!-- plus for adding an item or recipe to the bag -->
    <!-- <button class="button button&#45;icon icon ion&#45;ios&#45;close&#45;empty" -->
    <!--   ng&#45;click="go_back_to_bag()"> -->
    <!-- </button> -->
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <div class="item">
        <p ng-repeat="(k, v) in item" ng-show="k.indexOf('contents') === -1">
          <strong>{{k}}:</strong>
          <span ng-hide="v.push">{{v}}</span>
          <span ng-show="v.push">{{v.join(', ')}}</span>
        </p>
        <!-- <p><strong>Description:</strong> {{item.desc}}</p> -->
        <!-- <p><strong>Tags:</strong> {{item.tags.join(', ')}}</p> -->
      </div>

      <div class="item item-divider" ng-show="item.contents.length">Foodstuffs</div>
      <a
      class="item item-icon-right"
      href="#/tab/iteminfo/{{i._id}}"
      ng-repeat="i in item.contents">
        {{i.name}}
        <i class="icon ion-ios-arrow-right" ng-show="i._id"></i>
      </a>


      <div class="item item-divider" ng-show="item.contentsLists.length">Recipes</div>
      <a
      class="item item-icon-right"
      href="#/tab/iteminfo/{{i._id}}"
      ng-repeat="i in item.contentsLists">
        {{i.name}}
        <i class="icon ion-ios-arrow-right" ng-show="i._id"></i>
      </a>
  </ion-content>
</ion-view>
