<ion-view view-title="{{item.name || 'Item Details'}}">
  {{item.name}}

  <!-- nav bar -->
  <ion-nav-buttons side="right">

    <!-- plus for adding an item or recipe to the bag -->
    <button class="button button-icon icon ion-ios-close-empty"
      ng-click="go_back_to_bag()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <div class="item">
        {{item.desc}}
      </div>

      <div class="item item-divider" ng-show="item.contents.length">Foodstuffs</div>
      <a
      class="item item-icon-right"
      href="#/iteminfo/{{i._id}}"
      ng-repeat="i in item.contents">
          {{i.name}}
          <i class="icon ion-ios-arrow-right" ng-show="i._id"></i>
        </a>


      <div class="item item-divider" ng-show="item.contentsLists.length">Recipes</div>
      <a
      class="item item-icon-right"
      href="#/iteminfo/{{i._id}}"
      ng-repeat="i in item.contentsLists">
          {{i.name}}
          <i class="icon ion-ios-arrow-right" ng-show="i._id"></i>
        </a>
  </ion-content>
</ion-view>
