<div class="card">
  <ion-item ng-controller="RecipeCtrl" class="item-icon-right">

    <!-- recipe header -->
    <div class="item-avatar" style="padding-left: 4px;">
      <h2 ng-click="moreInfo(recipe)">
        {{recipe.name}}
        <i class="pull-right icon ion-chevron-right icon-accessory"></i>
      </h2>
      <p>
        {{recipe.tags.join(', ')}}


        <!-- price for the entire recipe -->
        <span class="pull-right">

          <!-- quantity box -->
          <span ng-hide="sortOpts.no_quantity">
            <input
              type="number"
              placeholder="Qty"
              style="width: 2em; display: inline; margin-top: -4px; direction: rtl;"

              min="1"
              max="99"
              oninput="this.value=this.value.slice(0, 2)"

              ng-model="recipe.quantity"
              ng-change="change(recipe)"
              ng-disabled="!change"
            />
            @&nbsp;
          </span>
          <span>{{calculate_total(recipe) | currency}}</span>
        </span>

      </p>
    </div>


    <!-- a recipe card -->
    <div class="list" style="margin-left: -16px;">

      <!-- all items within this recipe -->
      <li href="#" class="item" ng-class="{'item-checkbox':
        sortOpts.checks}" ng-repeat="item in get_all_content(recipe)">

        <!-- Check off the item -->
        <label class="checkbox" ng-if="sortOpts.checks && change">
          <input type="checkbox" ng-model="item.checked"
          ng-change="change(recipe, item)">
        </label>

        <!-- the title -->
        <span class="title" ng-class="{strike: item.checked}">
          <div class="line"></div>

          <span ng-bind-html="format_name(item.name)"></span>

          <!-- rightmost icons -->
          <span class="pull-right" ng-show="item.price || item.contents" style="margin-right: -16px;">
            {{item.price || calculate_total(item) | currency}}
          </span>
        </span>
      </li>
    </div>


      <!-- delete -->
      <ion-option-button class="button-assertive" ng-click="deleteItem(recipe)">
        Delete
      </ion-option-button>

  </ion-item>
</div>
