<div class="card">
  <ion-item ng-controller="RecipeCtrl" class="item-icon-right">

    <!-- recipe header -->
    <div class="item-avatar" style="padding-left: 4px;" ng-click="moreInfo(recipe)">
      <h2>
        {{recipe.name}}
        <i class="pull-right icon ion-chevron-right icon-accessory"></i>
      </h2>
      <p>
        {{recipe.tags.join(', ')}}
        <span class="pull-right" style="margin-top: 24px;">{{calculate_total(recipe) | currency}}</span>
      </p>
    </div>


    <!-- a recipe card -->
    <div class="list" style="margin-left: -16px;">

      <!-- all items within this recipe -->
      <li href="#" class="item item-checkbox" ng-repeat="item in get_all_content(recipe)">
        <!-- Check off the item -->
        <label class="checkbox">
          <input type="checkbox" ng-model="item.checked"
          ng-change="change(recipe, item)">
        </label>

        <!-- the title -->
        <span class="title" ng-class="{strike: item.checked}">
          <div class="line"></div>

          <span ng-bind-html="format_name(item.name)"></span>

          <!-- rightmost icons -->
          <span class="pull-right" ng-show="item.price || item.contents" style="margin-right: -16px;">
            {{item.price || calculate_total(item) | currency}}
          </span>
        </span>
      </li>
    </div>


      <!-- delete -->
      <ion-option-button class="button-assertive" ng-click="deleteItem(recipe)">
        Delete
      </ion-option-button>

  </ion-item>
</div>
