<ion-view view-title="My Items">

  <ion-nav-buttons side="right">
    <!-- plus for adding a new foodstuff -->
    <button 
      ng-click="open_foodstuff_or_recipe_modal()" 
      class="button button-icon icon ion-plus-round"
    ></button>
  </ion-nav-buttons>

  <ion-content>

    <!-- wait for the stuff to come in -->
    <loading-spinner complete="my_recipes"></loading-spinner>

    <ion-item ng-if="my_recipes && my_recipes.length === 0">
      <h2>No Items</h2>
      <p>
        Adding items to Bag lets you contribute to our repository of items, and
        helps you get more variety in your lists.
      </p>
    </ion-item>

    <ion-list>


      <!-- show all recipes -->
      <div ng-repeat="item in my_recipes">
        <!-- if a recipe -->
        <recipe-card
          recipe="item"
          delete-item="delete_item(item)"
          ng-if="item.contents || item.contentsLists"
          more-info="more_info(item)"
          sort-opts="sort_opts"
        ></recipe-card>

        <!-- if a foodstuff -->
        <checkable-item
          item="item" 
          change="update_bag"
          ng-if="!(item.contents || item.contentsLists)"
          more-info="more_info(item)"
          sort-opts="sort_opts[item._id]"
          delete-item="delete_item(item)"
        ></checkable-item>
      </div>
      <br/>



    </ion-list>
  </ion-content>
</ion-view>
