<ion-view view-title="{{view_title}}">

  <!-- display clean list on left -->
  <ion-nav-buttons side="left">

    <button 
      ng-click="to_list_mode()"
      class="button button-icon icon ion-funnel"
      >
    </button>

  </ion-nav-buttons>

  <!-- add and search are on the right -->
  <ion-nav-buttons side="right">
    <!-- plus for adding an item or recipe to the bag -->
    <button 
      ng-click="open_add_modal()" 
      class="button button-icon icon ion-plus-round"
      ng-show="is_viewing_bag()"
      >
    </button>

    <!-- search for searching through the bag -->
    <button 
      ng-click="filter_bag_contents()" 
      class="button button-icon icon ion-search"
      >
    </button>

  </ion-nav-buttons>

  <!-- content -->
  <ion-content>

    <!-- slide boxes. Each one contains a bag. -->
    <!-- <ion&#45;slide&#45;box on&#45;slide&#45;changed="change_active_bag($index)" show&#45;pager="false"> -->

      <!-- 
      the main "bag"
      this shows all the individual items
      -->
      <!-- <ion&#45;slide> -->
      <!--   <checkable&#45;item -->
      <!--     item="item" -->
      <!--     update="check_bag_item" -->
      <!--   </checkable&#45;item> -->
      <!-- </ion&#45;slide> -->

      <!-- each recipe bag -->
      <!-- <ion&#45;slide> -->
        <!-- <div ng&#45;controller="RecipeListCtrl"> -->

        <!-- show a combined list of recipes and foodstuffs -->
        <ion-list >

          <!-- Nothing in bag? -->
          <div class="grayed item" ng-show="get_all_content(bag).length === 0">
            <h2>Your bag is empty</h2>
            <h4>And Lonely. You should add something.</h4>
          </div>

          <div ng-repeat="(section, items) in (
            filter_open ? 
            {'Matching Results': filtered_items} :
            sorted_bag
          )">
            <div class="item item-divider">{{section || 'Default'}}</div>
            <div ng-repeat="item in items">

              <!-- if a recipe -->
              <recipe-card
                recipe="item"
                ng-show="item.contents"
                change="update_bag"
                delete-item="delete_item(item)"
                more-info="more_info(item)"
              ></recipe-card>

              <!-- if a foodstuff -->
              <checkable-item
                item="item" 
                change="update_bag"
                ng-hide="item.contents || item.contentsLists"
                delete-item="delete_item(item)"
                more-info="more_info(item)"
              ></checkable-item>
            </div>
          </div>
        </ion-list>
    <br/>


  </ion-content>
</ion-view>
