<ion-view view-title="{{view_title}}">

  <!-- nav bar -->
  <ion-nav-buttons side="right">

    <!-- plus for adding an item or recipe to the bag -->
    <button 
      ng-click="open_add_modal()" 
      class="button button-icon icon ion-ios-plus-empty"
      ng-show="is_viewing_bag()"
      >
    </button>

    <button 
      ng-click="filter_bag_contents()" 
      class="button button-icon icon ion-ios-search"
      >
    </button>

  </ion-nav-buttons>

  <!-- content -->
  <ion-content>

    <!-- slide boxes. Each one contains a bag. -->
    <!-- <ion&#45;slide&#45;box on&#45;slide&#45;changed="change_active_bag($index)" show&#45;pager="false"> -->

      <!-- 
      the main "bag"
      this shows all the individual items
      -->
      <!-- <ion&#45;slide> -->
      <!--   <checkable&#45;item -->
      <!--     item="item" -->
      <!--     update="check_bag_item" -->
      <!--   </checkable&#45;item> -->
      <!-- </ion&#45;slide> -->

      <!-- each recipe bag -->
      <!-- <ion&#45;slide> -->
        <!-- <div ng&#45;controller="RecipeListCtrl"> -->

        <!-- show a combined list of recipes and foodstuffs -->
        <div class="item item-divider">In my Bag</div>

        <!-- Nothing in bag? -->
        <div class="grayed" ng-show="get_all_content(bag).length === 0">
          Your bag is empty... And lonely...
        </div>

        <ion-list >
          <div ng-repeat="item in (filter_open ? filtered_items : get_all_content(bag))">

            <!-- if a recipe -->
            <recipe-card
              recipe="item"
              ng-show="item.contents"
              ng-hide="all_checked(item)"
              change="update_bag"
              delete-item="delete_item(item)"
              more-info="more_info(item)"
            ></recipe-card>

            <!-- if a foodstuff -->
            <checkable-item
              item="item" 
              change="update_bag"
              ng-hide="item.checked || item.contents || item.contentsLists"
              delete-item="delete_item(item)"
              more-info="more_info(item)"
            ></checkable-item>
          </div>
        </ion-list>

        <!-- All the checked-off items go here -->
        <div class="item item-divider">Complete</div>
        <div class="diabled" ng-repeat="item in completed_items">
          <!-- if a recipe -->
          <recipe-card
            recipe="item"
            ng-show="item.contents && all_checked(item)"
            change="update_bag"
          ></recipe-card>

          <!-- if a foodstuff -->
          <checkable-item
            item="item" 
            change="update_bag"
            ng-hide="item.contents"
          ></checkable-item>
        </div>

      <!-- </ion&#45;slide> -->

    <!-- </ion&#45;slide&#45;box> -->


  </ion-content>
</ion-view>
