<ion-view view-title="{{view_title}}">

  <!-- nav bar -->
  <ion-nav-buttons side="right">

    <!-- plus for adding an item or recipe to the bag -->
    <button 
      ng-click="open_add_bag_modal()" 
      class="button button-icon icon ion-ios-plus-empty"
      ng-show="is_viewing_bag()"
      >
    </button>

  </ion-nav-buttons>

  <!-- content -->
  <ion-content>

    <!-- slide boxes. Each one contains a bag. -->
    <ion-slide-box on-slide-changed="change_active_bag($index)" show-pager="false">

      <!-- the main "bag" -->
      <ion-slide>
        <div class="item item-avatar" ng-repeat="item in get_all_content(bag)">
          <h2>{{item.name}}</h2>
          <p>
            {{item.desc}}
          </p>
        </div>
      </ion-slide>

      <!-- each recipe bag -->
      <ion-slide>
        <div ng-controller="RecipeListCtrl">
          <recipe-card recipe="recipe" ng-repeat="recipe in recipes"></recipe-card>
        </div>
      </ion-slide>
    </ion-slide-box>


  </ion-content>
</ion-view>
