<ion-view view-title="My Picks">

  <ion-nav-buttons side="right">
    <!-- plus for seeing our recipes -->
    <button 
      ng-click="to_user_recipes()" 
      class="button button-icon icon ion-coffee"
    ></button>
  </ion-nav-buttons>


  <ion-content>

    <!-- reload picks -->
    <ion-refresher
      pulling-text="Pull to reload picks..."
      on-refresh="do_refresh()">
    </ion-refresher>

    <!-- wait for the stuff to come in -->
    <loading-spinner complete="picks"></loading-spinner>

    <ion-list>

      <ion-item ng-hide="picks.length">
        <h2>Feature Coming Soon!</h2>
        <p class="no-elipsis">
          This screen will provide suggestions on what to eat for your next
          meal.
        </p>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        ng-repeat="pick in picks"
        type="item-text-wrap"
        href="#/tab/recipeinfo/{{pick._id}}"
      >
        <img ng-src="{{pick.image || host+'/identicon/'+pick.name}}">
        <h2>{{pick.name}}</h2>
        <p>{{pick.desc}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>



      <!-- <checkable&#45;item -->
      <!--   ng&#45;repeat="item in picks" -->
      <!--   item="item"  -->
      <!--  -->
      <!--   change="update_bag" -->
      <!--   delete&#45;item="delete_item(item)" -->
      <!--   more&#45;info="more_info(item)" -->
      <!--   sort&#45;opts="{hide_quantity: true, }" -->
      <!-- ></checkable&#45;item> -->
      <!--  -->
    </ion-list>
  </ion-content>
</ion-view>
