<ion-view view-title="My Picks">

  <ion-nav-buttons side="right">
    <!-- plus for seeing our recipes -->
    <button 
      ng-click="to_user_recipes()" 
      class="button button-icon icon ion-coffee"
    ></button>
  </ion-nav-buttons>


  <ion-content>
    <ion-list>

      <ion-item>
        <h2>Coming Soon!</h2>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        ng-repeat="pick in picks"
        type="item-text-wrap"
        href="#/tab/recipeinfo/{{pick._id}}"
      >
        <img ng-src="{{pick.face}}">
        <h2>{{pick.name}}</h2>
        <p>{{pick.tags.join(', ')}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
